[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cid = "*"
multihash = "*"
cbor2 = "*"
dag-json = "*"
cbrrr = "*"
libipld = "*"

[dev-packages]

[requires]
python_version = "3.9"
